.row_flex {
    display: flex;
    flex-direction: row;
}

.column_flex {
    display: flex;
    flex-direction: column;
}
  
.tooltip {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}