body {
    height: 100%;
    margin: 0;
    overflow: hidden;   
}

.row_flex {
    display: flex;
    flex-direction: row;
}

.column_flex {
    display: flex;
    flex-direction: column;
}
  
.tooltip {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

#main_div {
    background-color: black;
    width: 100vw;
    height: 100vh;
}

#d3_svg {
    overflow: visible
}

#title {
    position: absolute;
    color: white;
    z-index: 2;
    background-color: gray;
    padding: 5px 5px;
    margin: 0 0;
    border: black;
    border-bottom-style: double;
    border-right-style: double;
}

#legend {
    position: absolute;
    background-color: white;
    padding: 5px 5px;
    color: white;
    z-index: 2;
    top: 75px;
    
    border: black;
    border-style: double;
    border-radius: 5px;
    border-width: 5px;
}

#legend_title {
    color: black;
    font-weight: bold;
    margin: 0 0 10px 0;
    padding: 0 0 5px 0;
    font-size: 24pt;
    border: black;
    border-bottom-style: dashed;
}

.legend_text {
    color: black;
    margin: 5px 0;
}

.circle {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px 0 0;

}