body {
    height: 100%;
    margin: 0;
    overflow: hidden;   
}

.row_flex {
    display: flex;
    flex-direction: row;
}

.column_flex {
    display: flex;
    flex-direction: column;
}
  
.tooltip {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

#main_div {
    background-color: black;
    width: 100vw;
    height: 100vh;
}

#d3_svg {
    overflow: visible
}

#title {
    position: absolute;
    color: white;
    z-index: 2;
    background-color: gray;
    padding: 5px 5px;
    margin: 0 0;
    border: black;
    border-bottom-style: double;
    border-right-style: double;
}